#contact_section{


    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}


#contacts_header{

    width: 1366px;
    height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

#contact_text{

    margin-top: 2.5em;

}

#contacts_description{

    color: var(--white);
    margin-top: 1em;
    padding-inline: 1.5em;
}

#contacts_container{

    display: flex;
    justify-content: center;
    width: 1366px;
    height: 400px;
    background-color: var(--accent) ;

}

#contacts_subcontainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 50%;
}

.details_container{

    display: flex;
    width: 25rem;
    height: 4.5rem;

}

.contact_icon{


    width: 3rem;
}

.icon_background{

    display: flex;
    align-items: center;
    padding-inline: 0.5em;
    background-color: var(--primary);

}

.contact_details{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1em;
}

.contact_type{

    color: var(--dark_blue);
}