.header{
    color: var(--primary);
    display: flex;
    padding-inline: 50px;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

}

.header_container{

    display: flex;
    width: 1366px;
    flex-shrink: 0 ;
    justify-content: space-between;
    align-items: center;
}


.header_left {
    
    user-select: none;
    margin-left: 40px;
    font-family: 'Imperial Script', cursive;
    font-size: 50px;    
    width: 150px;
  }

.header_center{
    flex-shrink: 0 ;

    display: flex;
    justify-content: center;
    margin-inline: 50px;
    flex: 1;

    
}

.header_right{

    margin-right: 40px;
}

.nav{

    margin-left: 50px;
}


#hire_btn{

    margin-left: 25px;


}

/* #lang_btn{

} */
