.section{

  display: flex;
  flex-shrink: 0;
}

#main_section{

  padding-top: 100px;
  height: 620px;  
  justify-content: center;
  overflow: hidden;
  width: 100vw;


}



.description_container{

  max-width: 700px;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 6.5em;


}

.description_subcontainer{

  display: flex;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  max-width: 750px;
  left: 40px;
  z-index: 4;


}

.buttons_container{

  display: flex;
  padding: 0;

}



#description{

  color: var(--white);
  text-align: justify;
}

#CV_btn{

  margin-left: 50px;
}



.image_container{

  max-width: 650px;
  width: 40%;
  position: relative;

}


.small_hex{

  position: absolute;
  max-width: 250px;
  top: 100px;
  left: -130px;
  pointer-events: none;



}

.big_hex{

  max-width: 600px;
  position: absolute;
  bottom: 5px;
  right: -120px;  
  pointer-events: none;



}

.profile{

  position: absolute;
  z-index: 3;
  height: 600px;
  right: 10px;
  top: 15px;
  pointer-events: none;
}
