a{

  text-decoration: none;
  color: var(--primary);
  font-size: 1.2rem;
}


.header1{

    color: var(--white);
    font-size: 3rem;
    word-break: break-word;
    font-weight: 500;
  }
  
  .header2{
  
    color: var(--primary);
    font-size: 2rem;
  }

  .header3{
  
    color: var(--primary);
    font-size: 1.5rem;
  }


  .paragraph1{

    color: var(--white);
    font-size: 1.1rem;
    font-weight: 400;
  }
  
.border_btn{

    font-size: 1rem;
    padding: 0.9em 2em;
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
    border-style: solid;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;


}

.border_btn:hover{
    box-shadow: 0 0 0 1px  rgb(255, 217, 0);;
    background-color: rgba(255, 217, 0, 0.1);
}

.main_btn{

    font-size: 1rem;
    color: var(--dark_blue);
    background-color: var(--primary);
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    cursor: pointer;

}

.main_btn:hover{

    background-color: rgba(255, 217, 0, 0.9);

}

#modal_background{

  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
  justify-content: center;
  align-items: center;
}

#modal_box{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent);
  width: 500px;
  height: 300px;
  border-radius: 10px;

}

.skills_text{

  position: absolute;
  letter-spacing: 1rem;
  text-align: center;
  color: var(--white);
  opacity: 0.25;
  font-size: 4.5rem;
}